@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@layer utilities {
  .text-dual-darkest {
    @apply text-zinc-900 dark:text-zinc-100;
  }
  .text-dual-dark {
    @apply text-zinc-700 dark:text-zinc-300;
  }
  .text-dual-normal {
    @apply text-zinc-500 dark:text-zinc-500;
  }
  .text-dual-light {
    @apply text-zinc-300 dark:text-zinc-700;
  }
  .text-dual-lightest {
    @apply text-zinc-100 dark:text-zinc-900;
  }
}

/* Global styles */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

/* Color transitions */
*, *::before, *::after {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
